<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EdGo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <EdGo.Properties.Settings>
            <setting name="EdgoURL" serializeAs="String">
                <value>http://ed-go.ru/ajax/client/</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="JornalFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsTestedEdgoConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStarted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompanionAppId" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanionMachineId" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanionMachineToken" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartProc" serializeAs="String">
                <value>False</value>
            </setting>
        </EdGo.Properties.Settings>
    </userSettings>
</configuration>
